.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.container_projects {
  margin-top: 20%;
  align-items: center;
  justify-content: center;
}

.main {
  text-align: center;
}

.icon {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.4);
}